<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr class='game'>
        <td><%= game['category_name'] %></td>
        <td><%= game['title'] %></td>
        <td><%= game['description'] %></td>
        <td><%= game['author'] %></td>
        <td><%= game['status'] %></td>
        <td><%= link_to 'Show', game_path(id: game['id']) %></td>
        <td><%= link_to 'Edit', edit_game_path(id: game['id']) %></td>
        <td><%= link_to 'Destroy', game_path(id: game['id']), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path %>